.list-item-title {
	font-size: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.list-item-narrative {
	color: gray;
	font-size: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.x-item-selected .list-item-title {
	color: #ffffff;
}

.x-item-selected .list-item-narrative {
	color: #ffffff;
}
